.page-header {
  margin-bottom: 1.5rem;
}

.page-header h1 {
  margin: 0;
  line-height: 1.2;
}

.page-header .ant-breadcrumb {
  font-size: 0.875rem;
}

.page-header .ant-breadcrumb a {
  color: #1890ff;
}

.page-header .ant-breadcrumb a:hover {
  color: #40a9ff;
}

.page-header .ant-breadcrumb > span:last-child {
  color: rgba(0, 0, 0, 0.65);
  font-weight: 400;
}
